{% extends 'base.html' %}

{% block title %}Главная - Litera{% endblock %}

{% block content %}
<div class="main-content">
    <div class="buttons-container">
        {% if user.is_authenticated %}
            <a href="{% url 'about' %}" class="button button-primary">О программе</a>
            <a href="{% url 'check_list' %}" class="button button-primary">Проверить список</a>
            {% if can_see_templates %}
                <a href="{% url 'reference_type_list' %}" class="button button-primary">Смотреть шаблоны</a>
            {% endif %}
        {% else %}
            <a href="{% url 'about' %}" class="button button-primary">О программе</a>
            <a href="{% url 'login' %}" class="button button-primary">Войти</a>
        {% endif %}
    </div>
</div>
{% endblock %}

